.App-body-video-capture {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
@media only screen and (max-width: 400px) {
    .App-body-video-capture {
        width: 100%;
    }
}
.capture-video-button {
    background-color: #035e58;
    height: 10%;
    width: 30%;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    outline: none;
}

@media only screen and (max-width: 400px) {
    .capture-video-button{
        font-size: 15px;
    }
}

.video-holder {
    border: 2px solid black;
    background-color: black;
    width: 50%;
    height: 70%;
}
@media only screen and (max-width: 400px) {
    .video-holder {
        width: 90%;
    }
}