.App-body-video-capture {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
    .App-body-video-capture {
        width: 100%;
    }
}
/* @media only screen and (max-width: 450px) {
    .App-body-video-capture {
        height: 90%;
    }
} */
.video-and-result {
    width: 90%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-holder {
    display: none;
}

.canvas-video-holder {
    width: 45%;
    border: 1px solid black;
}

.capture-video-button {
    background-color: #035e58;
    height: 10%;
    width: 22%;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    outline: none;
}

@media only screen and (max-width: 1024px) {
    .capture-video-button{
        font-size: 15px;
        width: 50%;
    }
}

@media only screen and (max-width: 450px) {
    .capture-video-button{
        font-size: 15px;
        width: 50%;
    }
}

