.App {
    height: 100vh;
    width: 100vw;
}
.App-header {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #137dd3;
    font-size: 50px;
    color: white;
}
.tab-selector {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.tab-button {
    padding: 0.5% 0%;
    flex-grow: 1;
    border: none;
    font-size: 35px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px grey;
}
@media only screen and (max-width: 550px) {
    .tab-button {
        font-size: 15px;
    }
}
.active-tab-button {
    background-color: #13d3a3;
    color: #18413d;
}
.inactive-tab-button {
    color: black;
    background-color: white;
}
.App-body {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
