.App {
    height: 100vh;
    width: 100vw;
}
.App-header {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #137dd3;
    font-size: 50px;
    color: white;
}
.tab-selector {
    height: 6%;
    display: flex;
}
.tab-button {
    width: 50%;
    border: none;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}
.active-tab-button {
    background-color: black;
    color: white;
}
.inactive-tab-button {
    color: black;
    background-color: white;
}
.App-body {
    height: 79%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.App-body-img-selector {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.App-body-video-capture {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-and-result {
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: center;
}
.image-holder {
    width: 45%;
}
.is-and-result {
    width: 55%;
    display: flex;
}
.is-holder {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.result-holder {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #720532; */
    font-size: 30px;
}
.question-image {
    height: 100%;
    width: 100%;
}
.error-msg {
    height: 10%;
}
.image-input {
    height: 8%;
    width: 20%;
    overflow: hidden;
    position: relative;
}
.image-input > input[type="file"] {
    font-size: 100px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
} 
.image-selection-button {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #035e58;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.upload-button {
    height: 10%;
    width: 100px;
    background-color: #13d3a3;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}
.capture-video-button {
    background-color: #035e58;
    height: 10%;
    width: 30%;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    outline: none;
}
