.opencv-playground {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.canvases-container {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-around;
}
.canvas-img-holder {
    width: 45%;
}
.turn-grey-button {
    height: 10%;
    width: 20%;
    background-color: #13d3a3;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}